--index-url https://download.pytorch.org/whl/cpu
torch
torchvision
--extra-index-url https://pypi.org/simple
opencv-python-headless
scipy
numpy
Pillow
scikit-image
python-bidi
PyYAML
Shapely
pyclipper
